---
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: postgres
  name: postgres
spec:
  containers:
    - name: postgres
      image: "docker.io/library/postgres:16.1"
      env:
        - name: POSTGRES_USER
          value: "{{ nc_postgres_user }}"
        - name: POSTGRES_PASSWORD
          value: "{{ nc_postgres_password }}"
        - name: POSTGRES_DB
          value: "{{ nc_postgres_db }}"
        - name: TZ
          value: Asia/Taipei
  restartPolicy: OnFailure
