---
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: redis
  name: redis
spec:
  containers:
    - name: redis
      image: "docker.io/library/redis:latest"
      ports:
        - containerPort: 6379
          hostPort: 6379
  restartPolicy: OnFailure
