[Unit]
Description=Cron job for {{ nc_pod_name }}-{{ nc_container_name }}.
Requires=container-{{ nc_pod_name }}-{{ nc_container_name }}.service
After=container-{{ nc_pod_name }}-{{ nc_container_name }}.service
Wants=cron-{{ nc_pod_name }}-{{ nc_container_name }}.timer

[Service]
ExecStart=podman exec -u www-data {{ nc_pod_name }}-{{ nc_container_name }} php -f /var/www/html/cron.php
Type=oneshot

[Install]
WantedBy=default.target
