[Unit]
Description=Cron job timer for {{ nc_pod_name }}-{{ nc_container_name }}.
Requires=cron-{{ nc_pod_name }}-{{ nc_container_name }}.service

[Timer]
Unit=cron-{{ nc_pod_name }}-{{ nc_container_name }}.service
OnCalendar=*:0/5

[Install]
WantedBy=timers.target
