[Unit]
Description=Cron job timer for {{ nc_app_pod_name }}_container inside {{ nc_app_pod_name }} pod.
Requires={{ nc_app_pod_name }}-cron-app.service

[Timer]
Unit={{ nc_app_pod_name }}-cron-app.service
OnCalendar=*:0/5

[Install]
WantedBy=timers.target
