---
apiVersion: v1
kind: Pod
metadata:
  labels:
    app:  "{{ nc_pod_name}}"
  name: "{{ nc_pod_name}}"
spec:
  containers:
    - name: "{{ nc_container_name}}"
      image: "{{ nc_image_name }}:{{ nc_image_tag }}"
      volumeMounts:
        - mountPath: /var/www/html
          name: "{{ nc_pod_name }}-app"
        - mountPath: /var/www/html/config
          name: "{{ nc_pod_name }}-config"
        - mountPath: /var/www/html/data
          name: "{{ nc_pod_name }}-data"
        - mountPath: /mnt/external
          name: "{{ nc_pod_name }}-external"
          readOnly: true
        - mountPath: /etc/localtime
          name: "{{ nc_pod_name }}-localtime"
          readOnly: true
      env:
        - name: POSTGRES_HOST
          value: "{{ nc_postgres_host }}"
        - name: POSTGRES_USER
          value: "{{ nc_postgres_user }}"
        - name: POSTGRES_DB
          value: "{{ nc_postgres_db }}"
        - name: POSTGRES_PASSWORD 
          value: "{{ nc_postgres_password }}"
        - name: REDIS_HOST
          value: "{{ nc_redis_host }}"
        - name: REDIS_PORT
          value: "{{ nc_redis_port }}"
        - name: NEXTCLOUD_ADMIN_USER
          value: "{{ nc_admin_user }}"
        - name: NEXTCLOUD_ADMIN_PASSWORD
          value: "{{ nc_admin_password }}"
        - name: NEXTCLOUD_TRUSTED_DOMAINS
          value: "{{ nc_trusted_domains }}"
        - name: OVERWRITEPROTOCOL
          value: "{{ nc_overwriteprotocol }}"
        - name: OVERWRITECLIURL
          value: "{{ nc_overwritecliurl }}"
        - name: TRUSTED_PROXIES
          value: "{{ nc_trusted_proxies }}"
        - name: SMTP_HOST
          value: "{{ nc_smtp_host }}"
        - name: SMTP_SECURE
          value: "{{ nc_smtp_secure }}"
        - name: SMTP_PORT
          value: "{{ nc_smtp_port }}"
        - name: SMTP_AUTHTYPE
          value: "{{ nc_smtp_authtype }}"
        - name: SMTP_NAME
          value: "{{ nc_smtp_name }}"
        - name: SMTP_PASSWORD
          value: "{{ nc_smtp_password }}"
        - name: MAIL_FROM_ADDRESS
          value: "{{ nc_mail_from_address }}"
        - name: MAIL_DOMAIN
          value: "{{ nc_mail_domain }}"
      ports:
        - containerPort: 80
          hostPort: 8088
  restartPolicy: OnFailure
  volumes:
    - name: "{{ nc_pod_name }}-app"
      hostPath:
        path: "{{ nc_volumes_dir }}/app"
        type: Directory
    - name: "{{ nc_pod_name }}-config"
      hostPath:
        path: "{{ nc_volumes_dir }}/config"
        type: Directory
    - name: "{{ nc_pod_name }}-data"
      hostPath:
        path: "{{ nc_volumes_dir }}/data"
        type: Directory
    - name: "{{ nc_pod_name }}-external"
      hostPath:
        path: "{{ nc_volumes_dir }}/external"
        type: Directory
    - name: "{{ nc_pod_name }}-localtime"
      hostPath:
        path: /etc/localtime
        type: File
